@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Social Media Website Cluster A</h1>
    <p>This will be where the website will be updated by us</p>
</div>
